@model WebAppCM.Models.CadastralObject
@{
    ViewBag.Title = "Новый Кадастровый обьект";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новый Кадастровый обьект</h2><hr />
@using (Html.BeginForm("COCreate", "CO", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-2">
            Тип кадастрового объекта:<br /><br />
            Кадастровый номер:<br /><br />
            Дата внесения:<br /><br />
            Правовой статус:<br /><br />
            Адрес:<br /><br />
            Площадь:<br /><br />
            Стоимость:<br /><br />
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.fk_tipeCO, ViewBag.HandBookOfCOTypes as SelectList)<br /><br />
            @Html.EditorFor(m => m.cadastralNumber)<br /><br />
            <input type="date" name="dateOfEntry" /><br /><br />
            @Html.EditorFor(m => m.legalStatus)<br /><br />
            @Html.EditorFor(m => m.address)<br /><br />
            @Html.EditorFor(m => m.square)<br /><br />
            @Html.EditorFor(m => m.cost)<br /><br />
        </div>
    </div>
            <input type="submit" value="Добавить" class="btn btn-primary btn-lg"/>
            }
<div>
    <br />
    <p><a href="/CO/ListCO" class="btn btn-primary btn-lg">&laquo; Вернуться к списку Кадастровыx обьектов</a></p>
</div>
